.header{
  display:flex; /*親要素に指定可能。横並びにできる。カリキュラム：https://mng-camp.potepan.com/curriculums/css-11*/
  width:100%;
  height:100px;
  background-color:darkgrey;
  align-items:center;
}

.title{
  color: orange;
  font-family: "メイリオ";
  margin-right:auto; /* タイトルから隣接する要素の右側に自動で最大値の値をとるため、一番左側に表示することが可能。
  カリキュラム：https://mng-camp.potepan.com/curriculums/css-6　*/
}

.menu-item{
  list-style:none;　/*html側で<ul><li>を使用しているため、デフォルトで「・〜」と表記される。今回は「・」が必要ないため、「none」を使用。*/
  display: inline-block; /* 前後の要素と横に並べることができる。　*/
  padding:10px; /* 上下左右に10pxの間隔を指定　*/
}